<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/datatables.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/knockout-3.5.1.debug.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">IVY</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("產品分類資料", "Index", "Category")</li>
                    <li>@Html.ActionLink("產品", "Index", "Product")</li>*@
                    @*<li>@Html.ActionLink("Product", "Index", "Product")</li>
        <li>@Html.ActionLink("全部Product", "Index4", "Product")</li>
        <li>@Html.ActionLink("供應商", "Index", "Supplier")</li>*@
                    @*<li>@Html.ActionLink("員工資料", "Filter4", "Product")</li>*@
                    <li>@Html.ActionLink("新增員工資料", "Filter1", "Product")</li>
                    <li>@Html.ActionLink("刪除員工資料", "Filter3", "Product")</li>
                    <li>@Html.ActionLink("修改員工資料", "Filter2", "Product")</li>
                    <li>@Html.ActionLink("分頁", "Index5", "Product")</li>
                    <li>@Html.ActionLink("Filter", "Filter", "Product")</li>
                    @*<li>@Html.ActionLink("註冊", "Index", "Account")</li>
        <li>@Html.ActionLink("登入", "Login", "Account")</li>*@
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>



</body>
</html>